<html>

<head>
    <title>{{ .Path }}</title>
    <style>
        tr:nth-child(even) {
            background-color: #dddddd;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            min-width: 40px;
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            font-weight: bold;
        }
    </style>
    <script>
        function compare(col, a, b) {
            if (col == 1) {
                let i = a.firstElementChild.getAttribute("value");
                let j = b.firstElementChild.getAttribute("value");
                return i > j ? -1 : i < j ? 1 : 0;
            }
            return a.textContent.trim().localeCompare(b.textContent.trim())
        }

        function sortTable(table, col, reverse) {
            var tb = table.tBodies[0], // use `<tbody>` to ignore `<thead>` and `<tfoot>` rows
                tr = Array.prototype.slice.call(tb.rows, 0), // put rows into array
                i;
            reverse = -((+reverse) || -1);
            tr = tr.sort(function (a, b) { // sort rows
                return reverse // `-1 *` if want opposite order
                    * (compare(col, a.cells[col], b.cells[col]));
            });
            for (i = 0; i < tr.length; ++i) tb.appendChild(tr[i]); // append each row in order
        }

        function makeSortable(table) {
            var th = table.tHead, i;
            th && (th = th.rows[0]) && (th = th.cells);
            if (th) i = th.length;
            else return; // if no `<thead>` then do nothing
            while (--i >= 0) (function (i) {
                var dir = 1;
                th[i].addEventListener('click', function () {
                    sortTable(table, i, (dir = 1 - dir))
                });
            }(i));
        }

        function makeAllSortable(parent) {
            parent = parent || document.body;
            var t = parent.getElementsByTagName('table'), i = t.length;
            while (--i >= 0) makeSortable(t[i]);
        }

        window.onload = function () {
            makeAllSortable();
        };
    </script>
</head>
<body>

<b> {{ .Path }}</b>
<table id="table">
    <thead>
    <tr>
        <th> Name</th>
        <th> Last Modified</th>
        <th> Size</th>
    </tr>
    </thead>
    <tbody>
    {{range $val := .Files}}
        <tr>
            <td>
               <span>
                   <a href="{{default "" $val.RequestURI}}">{{ default "" $val.Name}}</a>
               </span>
            </td>
            <td>
                <span value="{{ default 0 $val.ModEpoch}}">{{default "" $val.ModTime}}</span>
            </td>
            <td>
                <span>{{ if $val.IsDir }}-{{ else }}{{default "-" $val.Size}}{{end}}</span>
            </td>
        </tr>
    {{end}}
    </tbody>
</table>

</body>
</html>